.liveCells,
.deadCells {
    height: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;

}